/* Economic Axes */
#econ-a, #econ-b , #econ-c{
  border: 3px solid #000000;
  width: 70%;
  height: 30px;
  background: #FFFACD;
  color: #CD5C5C;
}      
#econ-a::-webkit-progress-value, #econ-b::-webkit-progress-value, #econ-c::-webkit-progress-value {
    background: #FFFACD;   
}  
#econ-a::-moz-progress-bar, #econ-b::-moz-progress-bar, #econ-c::-moz-progress-bar {
    background: #CD5C5C;   
}  
#econ-a::-webkit-progress-value, #econ-b::-webkit-progress-value, #econ-c::-webkit-progress-value {
    background: #FFFACD;  
}  
#econ-a::-webkit-progress-bar, #econ-b::-webkit-progress-bar, #econ-c::-webkit-progress-bar {
    background: #CD5C5C;    
} 
